.menu {
    color: black !important;
    font-size: 22px !important;
    font-family: sherif !important;
    text-transform: none !important; 
    width: 150px;
}

.picture {
    width: 600px !important;
    height: 600px !important;
    border-radius: 1000px !important;
    display: block;
    margin: auto;
}

.center {
    display: block;
    margin: auto;
}

.MuiToolbar-root {

    display: flex;
    justify-content: space-between;
}